	html
	{
		background-color:#FFF;
	}
	body
	{
		background-color:#DDD;
		width:800px;
	}
	div
	{
		background-color:#BBB;
		width:600px;
	}
	p
	{
		background-color:#c76f6f;
		width:400px;
		margin:10px;
		text-align:justify;
		overflow-wrap:break-word;
	}