body{font-family:sans-serif;margin:auto;width:800px;}
h1{text-align:center;}
table{border-collapse:collapse;margin:25px auto 25px auto;text-align:center;}
th,td{border:1px solid #000;padding:5px;}
th{background-color:#CCC;font-weight:bold;}