body
{
	background-color:#EEE;
}

.container
{
	border:2px dashed #aa5230;
	height:500px;
	width:800px;
	display:grid;
	grid-template-rows:150px 150px;
	grid-template-columns:100px 100px 100px;
	grid-auto-rows:100px;
}

.item
{
	border:1px solid #221fb3;
	background-color:#386ccc;
	color:#FFF;
	font-weight:bolder;
	padding:10px;
}